<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">LibraryApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link"
         [routerLink]="'/books'" [routerLinkActive]="'active'">Home</a>
      <a class="nav-item nav-link"
         [routerLink]="'/book'" [routerLinkActive]="'active'">Add a new book...</a>
    </div>
  </div>
</nav>
